body {
    text-align: center;
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    opacity: 0.6;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
}

#modal {
    width: 500px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 0 3px #ccc;
    padding: 20px;
    /*animation: slideDown 2s 0s forwards;*/
}

.hidden {
    display: none;
}
